%h1.logo Streakes

%p Make progress every day. Don't break the streak!

%h1
  %i.icon-leaf.large
  Set up goals

%h1
  %i.icon-screenshot.large
  Define targets to reach your goals

%h1
  %i.icon-ok-circle.large
  Record events to make progress

= link_to "Get started", signup_path, class: "btn btn-primary btn-large"