.header-links
  = link_to "#", class: "sign-in" do
    %i.sign-in
  = link_to root_path, class: "home" do
    %i.home

%h1.logo Streakes
%p Make progress every day. Don't break the streak!
= link_to "Get started", "#", class: "btn btn-primary"
.secondary= link_to "Learn more", "#", class: "btn"