.header-bar
  .header-left
    = link_to "Streakes", root_path, class: "header-logo"
  .header-right
    = link_to root_path, class: "home" do
      %i.home
    = link_to "#", class: "sign-in" do
      %i.sign-in