.header-bar
  .header-left
    = link_to "Streakes", root_path, class: "header-logo"
  .header-right
    - if signed_in?
      / = link_to root_path, class: "home" do
      /   %i.icon-home.large
      / = current_user.email
      = link_to "Home", root_path, title: current_user.email
      = link_to "Sign out", signout_path, method: "delete"
    - else
      = link_to "Sign in", signin_path