a i { 
  color: #333;
  text-decoration: none;

  &:hover {
    color: #444;
  }

  &:active {
    color: #999;
  }
}

i {
  padding: 5px 5px 0 5px;
}

i.large {
  font-size: 2.2em;
  font-style: normal;
}

i.small {
  font-size: 1em;
}

i.medium {
  font-size: 1em;
}

i.large {
  font-size: 1.5em;
}