@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

body {
  font-family: "Lato";
  font-size: 21px;
  color: #333;
}

a { 
  color: #333;
  text-decoration: none;
  &:active { color: #999; }
}

li a {
  color: #333;
  &:hover { color: #777; }
  &:active { color: #999; }
}

.logo {
  font-size: 5em;
  font-weight: 300;
  font-variant: small-caps;
  line-height: 1em;
  margin: 0 0 .4em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-variant: small-caps;
}

ul {
  list-style: circle;
}